.constructor {
	padding-top: 35px;
	@media (max-width: $md4+px) {
		padding-top: 0;
	}
	&__container {
		border-bottom: 1px solid var(--color-pagination);
	}
}

/* Стили аккордеона */
.accordion {
	position: relative;
	&__item {
		&:not(:last-child) {
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid #000;
		}
	}
	&__heading {
		margin-bottom: 25px;
		@media (max-width: $md4+px) {
			margin-bottom: 20px;
		}
	}
	&__about-order {
		margin-bottom: 25px;
		@media (max-width: $md4+px) {
			margin-bottom: 15px;
		}
	}
	&__reviews {
		margin-bottom: 25px;
		@media (max-width: $md4+px) {
			margin-bottom: 15px;
		}
	}
	&__trigger {
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		height: 100%;
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		svg {
			width: 25px;
			height: 25px;
			object-fit: contain;

			fill: var(--color-font);
			transform: rotate(180deg);
			transition: transform 0.2s ease-out;
			@media (max-width: $md3+px) {
				width: 20px;
				height: 20px;
			}
		}
		&--active {
			svg {
				transform: rotate(270deg);
				transition: transform 0.2s ease-out;
			}
		}
	}
	&__body {
		height: 0px;
		overflow: hidden;

		transition: height 500ms ease;
		&--hidden {
			visibility: hidden;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// margin-top: 25px;
	}
	&__info {
		flex: 0 0 100%;
		margin-bottom: 25px;
	}
	&__text {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	&__row {
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__image-preview {
		flex: 0 0 50%;
		@media (max-width: $md2+px) {
			flex: 0 0 100%;
			margin-bottom: 20px;
		}
	}
	&__constructor-form {
		flex: 0 0 calc(50% - 25px);
		margin-left: 25px;
		@media (max-width: $md2+px) {
			margin-left: 0;
			flex: 0 0 100%;
		}
	}
	&__order-info {
		flex: 0 0 100%;
		margin-bottom: 25px;
		@media (max-width: $md4+px) {
			margin-bottom: 15px;
		}
	}
	&__close {
		margin-bottom: 20px;
		@media (max-width: $md4+px) {
			margin-bottom: 0px;
		}
	}
}

.image-preview {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__main {
		margin-bottom: 15px;
		@media (max-width: $md2+px) {
			margin-bottom: 10px;
		}
	}

	&__current {
		width: 100%;

		height: 400px;
		object-fit: cover;
		@media (max-width: $md2+px) {
			height: 500px;
		}
		@media (max-width: $md3+px) {
			height: 350px;
		}
		@media (max-width: $md4+px) {
			height: 250px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		@extend %scroll-del;
		@media (max-width: $md2+px) {
			flex-wrap: nowrap;
			overflow: scroll;
		}
	}

	&__item {
		flex: 0 0 calc(33.33% - 10px);

		&:not(:nth-child(3n + 3)) {
			margin-right: 15px;
		}
		&:not(:nth-last-child(-n + 3)) {
			margin-bottom: 15px;
		}
		@media (max-width: $md2+px) {
			&:not(:nth-child(3n + 3)) {
				margin-right: 0;
			}
			&:not(:nth-last-child(-n + 3)) {
				margin-bottom: 0;
			}
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
}

.preview-item {
	&__btn {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		&:focus {
			outline: 0;
			box-shadow: inset 0 0 0 5px #8edc44;
			border-radius: 5px;
			transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		}
	}

	&__image {
		position: relative;
		z-index: -1;

		width: 100%;
		height: 130px;
		object-fit: cover;

		@media (max-width: $md2+px) {
			height: 160px;
		}
		@media (max-width: $md3+px) {
			height: 120px;
		}
		@media (max-width: $md4+px) {
			height: 80px;
		}
	}
}

.builder {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-top: 10px;

	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	&__design {
		padding-bottom: 15px;
	}

	&__heel {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #c4c4c4;
	}

	&__schild {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #c4c4c4;
	}

	&__front-row {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #c4c4c4;
	}

	&__back-row {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #c4c4c4;
	}

	&__trunk {
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 1px solid #c4c4c4;
	}
}

.design {
	&__shape {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	&__label {
		flex: 0 0 100%;
		margin-bottom: 15px;
	}

	&__radio-shape {
		&:not(:last-child) {
			margin-right: 50px !important;
			margin-bottom: 0 !important;
		}
	}

	&__canvas {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;
	}

	&__edging {
		display: flex;
		flex-wrap: wrap;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
	}
}

.schild {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__label {
		margin-right: 10px;
	}

	&__input {
		width: 40px;
		padding: 0;

		border: 0;
		background-color: var(--color-body);
		text-align: center;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
			-webkit-appearance: none;
		}
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 3px #8edc44;
			border-radius: 5px;
			transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
	}

	&__minus {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		// margin-right: 10px;
		transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 15px;
			height: 2px;
			background-color: var(--color-font);
			transform: translate(-50%, -50%);
		}
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 3px #8edc44;
			border-radius: 5px;
			transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		}
		@media (max-width: $md3+px) {
			width: 25px;
			height: 25px;
			&::after {
				width: 10px;
				height: 1px;
			}
		}
	}
	&__plus {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		// margin-left: 10px;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 18px;
			height: 2px;
			background-color: var(--color-font);
			transform: translate(-50%, -50%);
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 2px;
			height: 18px;
			background-color: var(--color-font);
			transform: translate(-50%, -50%);
		}
		&:focus {
			outline: 0;
			box-shadow: 0 0 0 3px #8edc44;
			border-radius: 5px;
			transition: box-shadow 0.3s ease, border-radius 0.3s ease;
		}
		@media (max-width: $md3+px) {
			width: 25px;
			height: 25px;
			&::after {
				width: 10px;
				height: 1px;
			}
			&::before {
				height: 10px;
				width: 1px;
			}
		}
	}
}
/* Radio */
.radio {
	display: inline-flex;
	align-items: center;
	&:not(:last-child) {
		margin-right: 10px;
	}
	&__text {
		user-select: none;
		cursor: pointer;
	}
	&__box {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 40px;

		border: 2px solid transparent;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		cursor: pointer;
		transition: border 0.3s ease;

		&::before {
			content: "";

			position: absolute;
			top: 50%;
			left: 50%;

			width: 100%;
			height: 100%;
			overflow: hidden;

			opacity: 0;
			border-radius: 50%;
			background-color: rgba(136, 136, 136, 0.493);
			transform: translate(-50%, -50%);
			transition: opacity 0.2s ease;
		}
		&--rhombus {
			margin-right: 10px;
			background: url(../img/rhombus.jpg) center/115% 115% no-repeat;
		}
		&--honeycomb {
			margin-right: 10px;
			background: url(../img/honeycomb.jpg) center/115% 115% no-repeat;
		}
		&--black {
			background-color: black;
		}

		&--grey {
			background-color: grey;
		}

		&--red {
			background-color: #e84242;
		}

		&--blue {
			background-color: #3dafec;
		}

		&--green {
			background-color: #6fe066;
		}

		&--yellow {
			background-color: #fdff30;
		}

		&--purple {
			background-color: #bd6af2;
		}

		&--pink {
			background-color: #f26ac8;
		}

		&--brown {
			background-color: #feb14d;
		}

		&--white {
			background-color: white;
		}

		&--light-blue {
			background-color: #a6fcff;
		}
		@media (max-width: $md4+px) {
			width: 28px;
			height: 28px;
		}
	}
	/* Checked */
	&__input:checked + &__box {
		border: 2px solid #70d03a;
	}
	// -- //

	/* Focused */
	&__input:focus + &__box {
		border: 4px solid #70d03a;
	}
	// -- //

	/* Disabled */
	&__input:disabled + &__box {
		border: 2px solid #9b9b9b;
		&::before {
			opacity: 1;
			transition: opacity 0.3s ease;
		}
	}
	&__input:disabled ~ * {
		cursor: default;
	}
	// -- //

	/* Checked disabled */
	&__input:checked:disabled + &__box::before {
		background-color: #9b9b9b;
		transition: opacity 0.2s ease;
	}
	// -- //
}
// -- //

/* Check */
.check {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__text {
		user-select: none;
		cursor: pointer;
	}
	&__box {
		position: relative;
		display: inline-block;
		width: 65px;
		height: 33px;

		border: 4px solid transparent;
		border-radius: 50px;
		background-color: #c4c4c4;
		transition: background-color 0.3s ease, border 0.2s ease-in-out;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background-color: #fff;
			transform: translate(0px, -50%);
			transition: transform 0.3s ease;
		}
		@media (max-width: $md3+px) {
			width: 48px;
			height: 25px;
			&::after {
				width: 21px;
				height: 21px;
			}
		}
	}
	/* Checked */
	&__input:checked + &__box {
		background-color: #00ab30;
		transition: background-color 0.3s ease, border 0.3s ease;
		&::after {
			transform: translate(120%, -50%);
			transition: transform 0.3s ease;
			@media (max-width: $md3+px) {
				transform: translate(97%, -50%);
			}
		}
	}
	// -- //

	/* Focused */
	&__input:focus + &__box {
		border: 4px solid #70d03a;
		transition: background-color 0.3s ease, border 0.3s ease;
	}
	// -- //

	/* Disabled */
	&__input:disabled + &__box {
		border: 4px solid #9b9b9b;
	}
	&__input:disabled + &__text {
		cursor: auto;
	}
	// -- //

	/*Checked disabled */
	&__input:checked:disabled + &__box {
		background-color: #9b9b9b;
	}
	// -- //
}
// -- //

.order-info {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	padding: 25px;

	background-color: var(--order-background);
	@media (max-width: $md4+px) {
		padding: 15px;
	}
	&__preview {
		flex: 0 0 50%;
		padding-right: 30px;
		border-right: 1px solid var(--color-pagination);
		@media (max-width: $md2+px) {
			flex: 0 0 100%;
			padding-right: 0px;
			padding-bottom: 30px;
			border-right: none;
			border-bottom: 1px solid var(--color-pagination);
		}
		@media (max-width: $md4+px) {
			padding-bottom: 20px;
		}
	}

	&__label {
		margin-bottom: 10px;
		font-weight: 700;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		font-size: 22px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 22px;
			height: 1px;
			margin-right: 5px;
			background-color: var(--color-font);
			transform: translateY(-7px);
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
			&::before {
				width: 15px;
				transform: translateY(-5px);
			}
		}
	}

	&__outcome {
		flex: 0 0 50%;
		display: flex;
		justify-content: space-between;
		padding-left: 30px;
		@include maxwidth(1100) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		@media (max-width: $md2+px) {
			flex: 0 0 100%;
			flex-direction: row;
			display: flex;
			justify-content: space-between;
			padding-left: 0;
			padding-top: 30px;
		}
		@media (max-width: $md4+px) {
			padding-top: 20px;
			flex-direction: column;
		}
	}

	&__price-block {
		@include maxwidth(1100) {
			margin-bottom: 20px;
		}
		@media (max-width: $md2+px) {
			margin-bottom: 0;
		}
	}

	&__btn {
	}
}

.price-block {
	@include maxwidth(1100) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		text-align: center;
	}
	@media (max-width: $md2+px) {
		display: block;
		text-align: left;
	}
	@media (max-width: $md4+px) {
		display: flex;
		justify-content: flex-start;

		width: 100%;
		padding-bottom: 20px;
		margin-bottom: 20px;

		border-bottom: 1px solid var(--color-pagination);
	}
	&__label {
		font-weight: 700;
		@include maxwidth(1100) {
			flex: 0 0 100%;
		}
		@media (max-width: $md2+px) {
			flex: 0 0 auto;
		}
	}
}
