/*! Basic */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);

	height: 1px !important;
	width: 1px !important;

	padding: 0 !important;
	border: 0 !important;

	overflow: hidden;
}
/*! Reset classes */
.btn-reset {
	width: auto;

	margin: 0;
	padding: 0;

	background: transparent;
	color: inherit;

	font-family: inherit;

	font: inherit;
	cursor: pointer;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	&:focus:not(:focus-visible) {
		outline: none;
	}
	@media (max-width: $md3+px) {
		outline: none;
	}
	@extend %reset;
}
.link-reset {
	color: inherit;

	text-decoration: none;
	&:visited {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	&:focus:not(:focus-visible) {
		outline: none;
	}
	@media (max-width: $md3+px) {
		outline: none;
	}
	@extend %reset;
}
.list-reset {
	text-indent: 0;
	list-style: none;
	list-style-type: none;
	@extend %reset;
}
.input-reset {
	border: 0;
	font-family: inherit;
	&::-ms-clear {
		display: none;
	}
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none;
		appearance: none;
	}
	&:focus:not(:focus-visible) {
		outline: none;
	}
	@media (max-width: $md3+px) {
		outline: none;
	}
}
.text-reset {
	@extend %reset;
	font-size: inherit;
	font-weight: 400;
	font-style: normal;
}
// -- //

/*! Main classes */

.main-text {
	color: var(--color-font);
	font-size: $fz-text;
	font-weight: 400;
	line-height: 117%;

	@media (max-width: $md3+px) {
		font-size: 16px;
	}
}
.main-heading {
	color: var(--color-font);

	font-size: $fz-heading;
	font-weight: 700;
	line-height: 72px / 60px * 100%;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 28px;
	}
}
.main-btn {
	padding: 14px 5px;

	border: 1px solid var(--main-btn-border);
	background-color: var(--main-btn-background);
	color: var(--main-btn-color);

	text-transform: uppercase;
	text-align: center;
	transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
	@media (min-width: $md3+px) {
		&:hover {
			border: 1px solid var(--main-btn-border-hover);
			background-color: var(--main-btn-background-hover);
			color: var(--main-btn-color-hover);
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
		&:focus {
			border: 1px solid var(--main-btn-border-hover);
			background-color: var(--main-btn-background-hover);
			color: var(--main-btn-color-hover);
			transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
		}
	}
	&--black {
		border: 1px solid var(--main-btn-light-border);
		background-color: var(--main-btn-light-background);
		color: var(--main-btn-light-color);
		@media (min-width: $md3+px) {
			&:hover {
				background-color: var(--main-btn-light-background-hover);
				color: var(--main-btn-light-color-hover);
				transition: color 0.3s ease, background-color 0.3s ease;
			}
			&:focus {
				background-color: #fff;
				color: #000;
				transition: color 0.3s ease, background-color 0.3s ease;
			}
		}
	}
	@media (max-width: $md4+px) {
		font-size: 14px;
	}
}
.accordion-close {
	position: relative;
	padding: 30px 10px;

	font-weight: 700;
	text-transform: uppercase;
	&__icon {
		position: absolute;
		top: 0;
		left: 50%;

		width: 25px;
		height: 25px;

		object-fit: contain;
		fill: var(--color-font);

		transform: translate(-50%, 0) rotate(90deg);
		@media (max-width: $md4+px) {
			width: 15px;
			height: 15px;
		}
	}
}
// -- //
